- content_for :title do
  Coursemy
  \|
  Editing enrollment
  = @enrollment.to_s
%p
.card
  .card-header
    %h3
      .fas.fa-lock-open
      Editing enrollment
  .card-body
    = render 'form'
  .card-footer
    = link_to 'Show', @enrollment, class: "btn btn-secondary"
    \|
    = link_to 'Back', enrollments_path, class: "btn btn-warning"
