- content_for :title do
  Coursemy
  \|
  Add Review
  = @enrollment.to_s
%p
.card
  .card-header
    %h3
      .text-warning.fas.fa-star
      Add Review
  .card-body
    = render 'form'
  .card-footer
    = link_to 'Show Review', @enrollment, class: "btn btn-secondary"
    \|
    = link_to 'Back to course', course_path(@enrollment.course), class: "btn btn-warning"
